* {
    padding: 0;
    margin: 0;
}
body {
    background-color: white;
    font-family: "montserrat", "san-sarif";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 30px;
}
h5 {
    font-size: 24px;
}
h6 {
    font-size: 16px;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
p {
    line-height: 28px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
figure {
    margin-bottom: 0;
}
img {
    max-width: 100%;
    height: auto;
}
/* .container {
    width: 1110px;
} */
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler span {
    display: block;
    width: 30px;
    margin: 5px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
}
.nav-container {
    color: white;
}
.sub-title {
    padding-top: 100px;
    padding-bottom: 25px;
    color: white;
}
.text {
    color: white;
}
.title {
    padding-bottom: 25px;
}
.navbar-nav li a .nav-link active {
    color: #04b3d0;
}
.navbar-nav li a {
    color: white;
}
.navbar-nav li a:hover {
    color: #04b3d0;
}

.nav-item {
    padding-right: 30px;
}

.title-paragraph {
    padding-bottom: 30px;
}
.hero-section .btn {
    border-radius: 20px 0 20px 20px;
    margin-bottom: 100px;
}
.hero-section .btn:hover {
    background-color: #04b3d0;
}
.adventure {
    padding-top: 100px;
}
.adv-title {
    text-align: center;
    padding-bottom: 15px;
}
.adv-paragraph {
    text-align: center;
    padding-bottom: 30px;
}
.adventure .btn {
    border-radius: 20px 0 20px 20px;
    background-color: red;
    color: white;
    padding: 10px;
}
.adventure .btn:hover {
    color: white;
    background-color: #04b3d0;
}
.take-yourself {
    padding-top: 100px;
}
.take {
    text-align: center;
    padding-bottom: 15px;
}
.take-title {
    text-align: center;
    padding-bottom: 30px;
}
.img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.zip-paragraph {
    padding-top: 10px;
    padding-bottom: 20px;
}
.zip-title {
    padding-top: 20px;
}
.take-yourself .btn {
    border-radius: 20px 0 20px 20px;
    background-color: red;
    padding: 13px;
    color: white;
}
.take-yourself .btn:hover {
    background-color: #04b3d0;
}

.making-tour {
    padding-top: 100px;
    background-image: url("../img/home-mask-shape.png");
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
}
.group-btn .btn {
    border-radius: 20px 0 20px 20px;
    background-color: red;
    padding: 15px 20px;
    color: white;
}
.group-btn .btn:hover {
    background-color: #04b3d0;
}
.tour-paragraph {
    padding-top: 20px;
    padding-bottom: 20px;
}
.tour-title {
    padding-bottom: 5px;
}

.business {
    padding-top: 100px;
}
.business-sub-title {
    padding-bottom: 15px;
}
.business-title {
    padding-bottom: 15px;
}
.hiking-pic img {
    width: 100px;
    padding-top: 20px;
}
.hiking-title {
    padding-top: 20px;
}

.hiking-text {
    margin-left: 30px;
}
.footprints {
    padding-top: 100px;
    background-image: url("../img/number-counter-bg.png");
    background-position: bottom top;
    background-repeat: no-repeat;
    background-size: cover;
}
.footprint-title {
    padding-top: 10px;
    padding-bottom: 20px;
}
.rounded-circle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: wheat;
    padding: 50px;
    border: 1px solid black;
    transition: 1s;
}
.rounded-circle:hover {
    transform: scale(1.2);
}
.quotes {
    padding-top: 40px;
    line-height: 28px;
}
.nelson a {
    color: black;
    font-size: 30px;
}
.nelson a:hover {
    color: green;
}
.testimonal {
    padding-top: 100px;
    background-image: url("../img/home-intro-bg.jpg");
    background-repeat: no-repeat;
}
.testimonal-title {
    padding-top: 20px;
    padding-bottom: 40px;
}
.profile-picture img {
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px;
}
.review-text {
    padding-top: 20px;
}
.review-person a {
    font-size: 40px;
    color: black;
    padding-top: 20px;
}
.review-person a:hover {
    color: green;
}
/* .slick-arrow::before{
    color: black;
}
.slick-arrow::after{
    color: black;
}
.slick-next:before{
    font-size: 57px;
}
.slick-prev:before{
    font-size: 57px;
} */
.journalist {
    padding-top: 10px;
}
.partner-sub-title {
    padding-top: 100px;
    padding-bottom: 20px;
}
.partner-title {
    padding-bottom: 20px;
}
.logo-partner img {
    transition: 1s;
}
.logo-partner img:hover {
    transform: scale(1.2);
}
.latesh-news {
    padding-top: 100px;
    background-image: url("../img/alex-gorham-gIgciC_WKnY-unsplash.jpg");
    background-position: center;
    padding: 50px;
}
.news-sub-title {
    padding-top: 60px;
    margin-bottom: 20px;
    color: white;
}
.news-title {
    color: white;
    padding-bottom: 60px;
}
.footer {
    padding-top: 100px;
    background-color: black;
    color: white;
    margin-top: 100px;
}
.footer-paragraph {
    opacity: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.face a {
    background-color: #04b3d0;
    padding: 6px;
    border-radius: 10%;
}
.face {
    margin-right: 20px;
    padding-bottom: 50px;
}
.company-info {
    padding-bottom: 40px;
}
.company-title {
    padding-top: 10px;
    opacity: 50%;
}
.quicks-links {
    padding-bottom: 25px;
}
.links a {
    padding-bottom: 100px;
}
.links a:hover {
    color: #04b3d0;
}
.footer-end-text {
    padding-top: 30px;
    padding-bottom: 20px;
}
